@charset "UTF-8";

/* Estilos gerais para o navbar */
nav#navbar-header {
  /* Flexbox */
  display: flex;

  /* Elementos filhos */
  & ul {
    /* Remover marcador de lista */
    list-style-type: none;
  }
  /*   Links do navbar */
  & a {
    /* Tipografia */
    color: var(--letra-branca);
    font-size: 1.375rem;
    text-decoration: none;

    /* Centralizar o texto */
    display: flex;
    align-items: center;

    /*   Destacar link da página atual */
    &#link-pagina-atual {
      color: var(--azul-claro);

      /* Linha ao lado do links */
      &::before {
        background-image: linear-gradient(to top, var(--gradiente-azul01));
      }
    }
  }
}
